<%= @user.first_name %>, ¡bienvenido a La Nevera, tu tienda de congelados!</h3>
==================================================================================

    ¡Gracias por preferirnos!
    Recuerda que puedes realizar pedidos a través de la web, limitados a un pedido cada 3 horas, y que el precio de envío dependerá de tu zona.

    Por cualquier consulta puedes enviarnos un mail a lanevera@outlook.es, o llamarnos al 2710 5858 o 2716 5495.

    ¡Esperamos poder brindarte el mejor servicio! 