<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css" media="screen">
    h3 { color:  #6C91AA; }
  </style>
</head>
<body>
  <h3><%= @user.first_name %>, ¡bienvenido a La Nevera, tu tienda de congelados!</h3>
  <p>
    ¡Gracias por preferirnos!
    Recuerda que puedes realizar pedidos a través de la web, limitados a un pedido cada 3 horas, y que el precio de envío dependerá de tu zona.

    Por cualquier consulta puedes enviarnos un mail a <b>lanevera@outlook.es</b>, o llamarnos al <b>2710 5858</b> o <b>2716 5495</b>.

    ¡Esperamos poder brindarte el mejor servicio! 
  <p>
</body>
</html>