.rating.hover-tooltip{ title: "#{user.rating} / 3.0" }
	.stars
		- rating = user.round_rating

		- if rating == 3
			%span.glyphicon.glyphicon-star.highlighted
			%span.glyphicon.glyphicon-star.highlighted
			%span.glyphicon.glyphicon-star.highlighted
		- elsif rating == 2
			%span.glyphicon.glyphicon-star.highlighted
			%span.glyphicon.glyphicon-star.highlighted
			%span.glyphicon.glyphicon-star
		- elsif rating == 0
			%span.glyphicon.glyphicon-star
			%span.glyphicon.glyphicon-star
			%span.glyphicon.glyphicon-star
		- else
			%span.glyphicon.glyphicon-star.highlighted
			%span.glyphicon.glyphicon-star
			%span.glyphicon.glyphicon-star

	- if user.rating_amount == 1
		%p 1 compra
	- else
		%p= "#{user.rating_amount} compras"