= provide :title, "Usuarios"

%h3 Usuarios

= will_paginate previous_label: '<span class="glyphicon glyphicon-chevron-left">', next_label: '<span class="glyphicon glyphicon-chevron-right">'
= render 'search_bar'

.users
	= render @users