- if flash[:notice] || flash[:alert]
  .alert.alert-info
    .container-default.text-center
      != flash[:notice] || flash[:alert]
- if flash[:error]
  .alert.alert-danger
    .container-default.text-center
      != flash[:error]
- if flash[:success]
  .alert.alert-success
    .container-default.text-center
      != flash[:success]