// To handle the addition I rely on the fact that the .counter div exists only if the amount is higher than zero.
var $product = $("#prod<%= params[:product_id] %>");
var $counter = $product.find(".counter");

if($counter.length != 0){
	// Existing counter, add to that.
	var $text = $counter.find("p");
	var amount = parseInt($text.text());
	amount++;
	$text.text(amount);
}
else {
	// Non existing counter, create and initialize.
	$product.find(".price").after('<div class="counter"><p>1</p></div>');
	$product.find(".remove").toggleDisable();
}