= provide :title, "Compras de usuarios"

%h3 Compras

.purchases
	- @carts.each do |cart|
		- if cart.delivered
			.cart-wrapper.delivered
				= render cart
		- else
			.cart-wrapper
				= render cart