- provide :title, 'Contacto'

%h3 Contacto

.information
	.block
		.header
			Dirección: 
			%br
			21 de setiembre 2633 esquina Scoseria
			%br
			%br
			Teléfonos:
			%br
			2710 5858 | 2716 5495
			%br
			%br
			E-mail:
			%br
			lanevera@outlook.es
			%br
			%br
			Horarios:
			%br
			Lunes a sábado de 10 a 23 hs
			%br
			Domingos de 10 a 14 hs


		%br
		%br

		Todos los envíos realizados en la zona de 
		%strong Punta Carretas
		y
		%strong Parque Rodó
		serán sin recargo, mientras que fuera de esta zona se agregarán 
		%strong 100 pesos
		a su compra.
		%br
		%br
		La compra será controlada por los administradores de este sitio, y en caso de que la información sea incorrecta al punto de no poder permitir realizar la entrega, o a que la distancia del viaje sea muy extensa, el administrador se reserva el derecho de cancelar la compra.