- content_for :javascript_includes do
  = javascript_include_tag "home_search.js"

#offers
  %h1 Ofertas
  %h3 ¡Actualizamos nuestras ofertas regularmente!
  .divider
  .row
    .col-xs-12.col-md-10.col-md-offset-1.centered
      .product-large
        #placeholder1
      .product-large
        #placeholder2
      .product-large
        #placeholder3
#cart-announcement
  #cart-image
    = image_tag 'cart.png'
  %h1 Carro de compras
  %h3 Contamos con un servicio de delivery para las compras realizadas por usuarios a través del sitio.