#offers
  %h2 Ofertas
  %h3 ¡Actualizamos nuestras ofertas regularmente!
  .info
    %p 
      En nuestra sección de
      %b productos,
      las ofertas se marcan con el símbolo
      %span.glyphicon.glyphicon-certificate
      y en color
      %span.green verde
      , a diferencia de los precios regulares, marcados en
      %span.blue azul
      = "."
      
  .columns.offer-wrapper
    - @offers.each do |offer|
      = render 'offer', offer: offer

#cart-announcement
  #cart-image
    = image_tag 'cart.png'
  %h2 Carro de compras
  %h3 Contamos con un servicio de delivery para las compras realizadas por usuarios a través del sitio.