#offers
  %h1 Ofertas
  %h3 ¡Actualizamos nuestras ofertas regularmente!
  .divider
  .columns
    - @offers.each do |offer|
      = render 'offer', offer: offer

#cart-announcement
  #cart-image
    = image_tag 'cart.png'
  %h1 Carro de compras
  %h3 Contamos con un servicio de delivery para las compras realizadas por usuarios a través del sitio.