<div id="offers">
	<h1>Ofertas</h1>
	<h3>¡Actualizamos nuestras ofertas regularmente!</h3>
	<div class="divider"></div>

	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 centered">

			<div class="product-large">
				<div id="placeholder1">
				</div>
			</div>

			<div class="product-large">
				<div id="placeholder2">
				</div>
			</div>

			<div class="product-large">
				<div id="placeholder3">
				</div>
			</div>

		</div>
	</div>
</div>

<div id="cart-announcement">
	<div id="cart-image">
		<%= image_tag 'cart.png' %>
	</div>
	<h1>Carro de compras</h1>
	<h3>Contamos con un servicio de delivery para las compras realizadas por usuarios a través del sitio.</h3>
</div>