- provide :title, 'Información'

%h3 Información

.information
	.block
		La 
		%strong congelación
		es una de las mejores maneras que existen de preservar las propiedades de los alimentos y conservarlos por más tiempo. Casi todos los alimentos se pueden congelar.

		%br
		%br

		Las 
		%strong verduras, legumbres y hortalizas
		vienen presentadas en estado congelado y protegidos en bolsas que deben estar herméticamente cerradas. Una vez extraído el bloque congelado, se zambulle en abundante cantidad de agua hirviendo, a la que se le ha añadido un poco de sal. Cuando rompa el hervor, se deja hervir por espacio de unos ocho minutos, a excepción de las espinacas, a las que bastarán dos minutos. Una vez transcurrido ese tiempo, se retira de la lumbre, se escurre la verdura y de este modo queda completamente lista para ser utilizada y servida, bien aliñada o bien condimentada según indique la receta.

		%br
		%br

		Para la descongelación del 
		%strong pescado y el marisco,
		puede sacarse del congelador el día anterior, envuelto en un paño y con papel de aluminio, pero si no ha sido así, puede ponerse en un recipiente hondo donde se habrá puesto agua fresca y salada. Finalmente, se escurre y se seca con un paño.

		%br
		%br

		Para descongelar las 
		%strong carnes 
		congeladas, si los trozos son muy pequeños, pueden cocinarse directamente. De lo contrario se los puede descongelar a temperatura ambiente, o bajarlos primero a la heladera (es lo más higiénico) lo cual requiere un tiempo superior.

		%br
		%br

		Se puede hacer uso del microondas para descongelar piezas delgadas y pequeñas de manera que se eviten zonas cocidas frente a otras aún congeladas. Cocinar a fondo asegurando una temperatura interna de 70ºC es recomendable en todos los casos. Una vez descongelado, el alimento crudo se debe cocinar totalmente, lo que asegura que el calor (al menos 70ºC) llegue al centro del producto lo más rápidamente posible. Si se trata de una elaboración ya cocinada, debe recalentarse a fondo asegurando esta temperatura en toda la preparación y consumir lo antes posible. Si no se consume, las sobras no deben reutilizarse.

		%br
		%br
		%br

		%strong Consejos:

		%br
		%br

		%ul
			%li El punto de congelación de cada alimento es diferente, ya que el agua de los mismos no es agua pura, sino que contiene sales minerales, azúcares y proteínas suspendidas en un líquido, por lo cual las temperaturas de congelación varían según la composición del alimento.
			%br
			%li Tanto la congelación, el transporte y la descongelación deben realizarse de manera correcta para garantizar que todas las propiedades nutritivas del alimento queden intactas.
			%br
			%li No es adecuado descongelar los alimentos directamente bajo el chorro de agua, debido a que la misma arrastrará con algunos nutrientes.
			%br
			%li Nunca debe recongelarse un alimento descongelado total o parcialmente. El único caso en el que se puede volver a congelar es cuando ha sido previamente cocinado con calor intenso, ya que este proceso reduce drásticamente el número de microorganismos.