= provide :title, 'Ofertas'

%h3 Ofertas

.wrapper
	- if !@offers.empty?
		= render @offers
		.aligner
		.aligner

	- else
		%br
		%br
		No hay ninguna oferta en el momento
		%br
		%br
		%br
		%br

= link_to "Crear oferta", products_path, class: 'btn btn-primary', id: 'new-offer-btn'