#photo-preview
	#photo-upload-info
		%h2
			%span.glyphicon.glyphicon-upload
		%p
			Click aquí para elegir una imagen
#photo-photo-errors.errors
= form_for @photo, html: { multipart: true }, remote: true do |f|

	= f.file_field :photo

	= f.button :submit, id: 'photo-submit' do
		Subir foto