// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Show
//----------------------

.cart-display {
	padding: 0 40px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	#cart {
		padding: 0 0 30px;
	}

	.item-container {
		width: 100%;
		border-radius: 3px;
		background-color: #F1F2F3;
		padding: 40px 30px;
		margin-bottom: 30px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		.aligner {
			width: 180px;
			height: 0px;
		}

		.actions {
			width: 100%;
			text-align: center;
		}
	}
}

// Item partial
.item-wrapper {
	width: 140px;
	margin: 0 20px;

	.thumb-wrapper {
		box-shadow: 0px 0px 6px #CCC;
		margin-bottom: 10px;
	}
	
	.cart-thumb {
		position: relative;
		z-index: 1;
		width: 140px;
		height: 140px;
		border-radius: 3px 3px 0 0;
	}

	.cart-counter {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		
		float: left;
		position: relative;
		z-index: 2;
		width: 25px;
		height: 25px;
		margin-top: -15px;
		margin-left: -15px;

		border-radius: 3px;
		background-color: #CD3B2F;

		p {
			margin-bottom: 0;
			color: #FFF;
			cursor: default;
			-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
		}
	}
	
	.cart-price {
		width: 100%;
		position: relative;
		z-index: 1;
		background-color: #6C91AA;
		border-radius: 0 0 3px 3px;
		padding: 10px 0;
		p {
			margin-bottom: 0;
			color: #FFF;
			cursor: default;
			font-size: 1.3em;
			-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
		}
	}

	// Override background color of price tags if the price is from an offer
	.offer {
		background-color: #8BB454;
	}

	.actions {
		margin-bottom: 30px;
	}
}

// Info bar on the right

.cart-info {
	margin-top: 105px;
	flex-basis: 350px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	.blue {
		color: #487798
	}

	#confirm-buy {
		margin: 20px 0 5px;
		color: #FFF;
	}

	.confirmed {
		background-color: #8BB454;
		border-radius: 3px;
		margin: 20px 0 5px;
		padding: 6px 12px;
		color: #FFF;
	}

	.cancelled {

	}

	.item-list {
		width: 100%;
		border-radius: 3px 0 0 3px;
		background-color: #F1F2F3;
		margin-top: 25px;
		margin-bottom: 30px;
		padding: 0px 30px;
		.columns {
			width: 100%;
			.list-title {
				flex-grow: 1;
				text-align: left;
			}
		}
			
	}
}

.purchase {
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;

	.user-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		#map {
			width: 350px;
			height: 350px;
		}
	}

	.cart-info {
		margin-top: 0;
	}
}

// Index
//----------------------

.purchases {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.cart-wrapper {
	background-color: #F1F2F3;
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 3px;
	width: 700px;
	display: flex;
	flex-direction: row;
	align-items: center;

	.user-info {
		width: 250px;
		padding: 15px;
		color: #6C91AA;
		height: 100%;
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		p {
			margin-bottom: 0;
		}
		hr {
			margin: 5px 0;
			border-top: 1px solid #6C91AA;
		}
	}

	.purchase-info {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		font-size: 1.4em;

		.total-products {
			color: #9AC3D0;
		}

		.total-price {
			text-align: center;
			border-radius: 3px;
			color: #6C91AA;
		}
	}

	.actions {
		display: flex;
		flex-direction: column;
		a {
			margin: 5px 0px;
		}
	}
}

.delivered {
	background-color: #C2D8A6;
}