/* 0: Colors used in the application */
/* ------------------------------------------- */

/* 
	The main colors are 3 different shades of a dark blue:
	--------------------
	Darkest:  #365A72
	Darker:   #487798
	Normal:   #9AC3D0
	Lighter:  #B9D6E0

	In addition, I use this color instead of plain white and plain black:
	--------------------
	White: #F1F2F3
	Black: #0B1D2A

	Also, in case brighter blues are needed, I can use:
	--------------------
	Bright darker:   #6C91AA
	Bright normal:   #86B7C7
	Bright lighter:  #9FDAE2
*/


/* 1: Universal assets */
/* ------------------------------------------- */

body {
	background-color: #FFF;
}

.container-fluid {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.divider {
	height: 50px;
}

.hidden {
	visibility: hidden;
}

#content {
	text-align: center;
	padding-top: 50px;
}

.columns {
  display: flex;
  flex-direction: row;
}

.rows {
  display: flex;
  flex-direction: column;
}

/* 2: Forms & buttons */
/* ------------------------------------------- */

// Errors ------------------------------------
.field-with-errors {
	label {
		color: #C97155;
	}
	span {
		color: #C97155;
	}
	input[type=text], input[type=password] {
		border-color: #C97155 !important;
 		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(208,167,154,0.6) !important;
	}
}

span.validation-error {
	color: #C97155;
}

.field {
	margin-bottom: 10px;
}

.field-margin {
	margin-bottom: 25px;
}

.invalid-field {
 	border-color: #C97155 !important;
 	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(208,167,154,0.6) !important;
}

.errors {
	height: 20px;
	p {
		color: #C97155;
	}
}

// Form style ----------------------------------------
.form-control {
	color: #487798;
}

.form-control:focus {
	border-color: #86B7C7;
 	box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(134,183,199,0.6);
}

label {
	color: #6C91AA;
}

// Buttons ------------------------------------------

.btn {
	transition: all 0.2s linear;
	border-radius: 3px;
}

.btn-back {
	margin-bottom: 30px;
}

.btn-symbol {
	padding: 2px 6px;
	span {
		color: #FFF;
	}
}

.btn-primary {
	background-color: #9AC3D0;
	color: #FFF;
	border: none;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #6C91AA;
}

.btn-primary:disabled {
	background-color: #AAA;
}

.btn-danger{
	background-color: #D0A79A;
	color: #FFF;
	border: none;
}

.btn-danger:hover, .btn-danger:focus, .danger {
	background-color: #C97155;
}

.btn-success {
	background-color: #9AD0A7;
	color: #FFF;
	border: none;
}

.btn-success:hover, .btn-success:focus, .success {
	background-color: #55C971;
}

.danger, .success {
	color: #FFF;
}

/* 3: General typography & some effects */
/* ------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	color: #487798;
}

h3 {
	color: #487798;
}

a {
	transition: all 0.2s linear;
	color: #6C91AA;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: #86B7C7;
}

/* 4: Navigation bar */
/* ------------------------------------------- */

/* Admin Navigation bar OR Information depending on user type*/

.side-nav {
	width: 100%;
	background-color: #487798;

	p {
		color: #B9D6E0;
		margin-bottom: 0px;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: center;

		p {
			padding: 0 30px 0 15px;
			margin: 15px 15px;
			border-right: 1px solid #B9D6E0;
		}

		a {
			padding: 15px;
			color: #FFF;
		}

		a:hover, a:focus{
			text-shadow: 0px 0px 4px #FFF;
			background-color: transparent;
		}
	}

	.info {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.field {
			margin: 15px;
			display: flex;
			flex-direction: row;
			color: #FFF;
			font-size: 1.4em;
			span {
				margin-top: 5px;
			}
		}	
	}
	
}


#header {
	background-color: #6C91AA;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	nav {
		display: flex;
		flex-direction: row;
		justify-content: center;

		a {
			padding: 15px;
			color: #FFF;
		}

		a:hover, a:focus{
			text-shadow: 0px 0px 4px #FFF;
			background-color: transparent;
		}

		.main-links {
			display: flex;
			align-items: center;
		}
	}
}

// For the collapsable part:
#collapsable {
	display: flex;
	align-items: center;
}

#collapsed-button {
	display: none;
}

@media (max-width: 600px){
	#header {
		nav {
			flex-direction: column;
			align-items: center;
		}
	}

	#collapse-wrapper {
		display: none;

		#collapsable {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

	}

	#collapsed-button {
		display: flex;
		align-items: center;
	}

	.visible {
		display: block;
	}
}

//-----------------------------

#fridge {
	padding: 50px 0 25px 0;
}

#brand {
	padding-bottom: 25px;
	text-align: center;
}

#brand h1 {
	color: #F1F2F3;
	font-size: 3.2em;
}

#brand h2 {
	color: #F1F2F3;
	font-size: 1.5em;
}

// ---------------- Search bar

#search-bar {
	padding-bottom: 75px;
	width: 550px;
	form {
		display: flex;
	}
}

#search {
	border-radius: 3px 0 0 3px;
	border: none;
	float: left;
	flex-grow: 1;
	height: 45px;
	font-size: 1.3em;
}

#search-submit {
	transition: all 0.2s linear;
	background-color: #FFF;
	border-radius: 0 3px 3px 0;
	color: #FFF;
	border: none;
	overflow: hidden;
	width: 65px;
	height: 45px;
	font-size: 1.3em;
}

.valid-search {
	background-color: #9AC3D0 !important;
	color: #FFF !important;
}

@media (max-width: 600px){
	#search-bar {
		width: 100%;
		padding: 0 20px 75px;
		form {
			flex-direction: column;

			#search {
				border-radius: 3px;
				margin-bottom: 3px;
				width: 100%;
			}
			#search-submit {
				border-radius: 3px;
				width: 100%;
				background-color: #6C91AA;
				color: #6C91AA;
			}	
		}
	}
}

/* 5: Homepage */
/* ------------------------------------------- */

#offers {
	padding-top: 50px;
	padding-bottom: 20px;

	.offer-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 30px 30px;
		margin-top: 0;
		background-color: #FFF;

		.home-offer {
			margin: 0 20px 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			// Avoid mozilla problems
			width: 300px;

			.offer-thumb-wrapper {
				background-color: #666;
				border-radius: 5px 5px 0 0;
				overflow: hidden;
				img {
					position: relative;
					z-index: 1;
					transition: all 0.2s linear;
					width: 300px;
					height: 300px;
				}
			}
			.offer-price {
				position: relative;
				z-index: 5;
				font-size: 1.6em;
				background-color: #8BB454;
				color: #FFF;
				padding: 15px;
				border-radius: 3px;
				margin-top: -31px;
			}
			
			.offer-info {
				width: 100%;
				text-align: center;
				background-color: #F1F2F3;
				padding: 50px 15px 20px;
				margin-top: -30px;
				border-radius: 0 0 5px 5px;
				h3 {
					color: #365A72;
				}
			}

		}
	}
}

#cart-announcement {
	padding-top: 100px;
	padding-bottom: 50px;
}

#offers, #cart-announcement {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.info {
		max-width: 700px;
		margin: 30px;
		padding: 30px;
		color: #365A72;
		p {
			line-height: 40px;
		}
		span.green {
			padding: 5px;
			border-radius: 3px;
			background-color: #8BB454;
			color: #FFF;
		}
		span.blue {
			padding: 5px;
			border-radius: 3px;
			background-color: #6C91AA;
			color: #FFF;
		}
	}

	h2, h3 {
		padding: 0 15px;
		max-width: 600px;
	}
}


//

#cart-announcement {
	background-color: #F1F2F3;
}

#cart-image {
	display: inline-block;
	padding-bottom: 50px;
}

/* 6: Static pages */
/* ------------------------------------------- */

.information {
	display: flex;
	justify-content: center;
}

.block {
	text-align: justify;
	text-justify: inter-word;
	padding: 30px;
	margin: 30px;
	max-width: 700px;
	background-color: #F1F2F3;
	border-radius: 3px;
	color: #365A72;
	.header {
		font-size: 1.4em;
	}
}

/* 7: Flashes */
/* ------------------------------------------- */

.alert {
	position: fixed;
	top: 60px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}

/* 8: Footer */
/* ------------------------------------------- */

footer {
	background-color: #6C91AA;
	width: 100%;
}

footer.main {
	padding: 50px 120px 100px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	.line {
		margin: 15px 25px 0 10px;
		border-left: 1px solid #567488;
		height: 125px;
	}

	.logo {
		margin-right: 30px;
		margin-top: 50px;
	}

	.info {
		color: #FFF;
		margin-top: 15px;
		margin-right: 15px;

		.field {
			margin-bottom: 15px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			p {
				margin-bottom: 0;
			}
			span {
				margin-top: 4px;
			}
		}
	}
}

footer.creator {
	text-align: right;
	color: #4B6576;
	padding-bottom: 5px;
	padding-right: 60px;
}

@media (max-width: 800px){
	footer.main {
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		padding: 30px 30px 120px;

		.line {
			display: none;
		}

		.info {
			margin-top: 0;
		}
		.info:last-child {
			border-top: 1px solid #567488;
			padding-top: 15px;
		}

		.logo {
			margin-bottom: 30px;
			margin-top: 30px;
		}
	}
	footer.creator {
		padding-right: 30px;
	}
}


/* 9: Tooltips */
/* ------------------------------------------- */

.tooltip-text {
	position: absolute;
	z-index: 90;
	background-color: #15242D;
	border-radius: 3px;
	padding: 5px 8px;
	color: #FFF;
}

/* 10: Pagination */
/* ---------------------------------------------- */

div.pagination {
	margin: 25px 0 5px;
	ul.pagination {
		margin: 0;
		border: 1px solid #F1F2F3;
		li a {
			border: none;
			color: #6C91AA;
		}
		li a:hover, li a:focus {
			color: #86B7C7;
			background-color: #FFF;
			text-shadow: 0px 0px 4px  #F1F2F3;
		}
		li.active a {
			border: none;
			color: #FFF;
			background-color: #9AC3D0;
		}
		li.active a:hover, li.active a:focus {
			color: #FFF;
			text-shadow: 0px 0px 4px  #FFF;
		}
	}
}
