/* 0: Colors used in the application */
/* ------------------------------------------- */

/* 
	The main colors are 3 different shades of a dark blue:
	--------------------
	Darkest:  #365A72
	Darker:   #487798
	Normal:   #9AC3D0
	Lighter:  #B9D6E0

	In addition, I use this color instead of plain white and plain black:
	--------------------
	White: #F1F2F3
	Black: #0B1D2A

	Also, in case brighter blues are needed, I can use:
	--------------------
	Bright darker:   #6C91AA
	Bright normal:   #86B7C7
	Bright lighter:  #9FDAE2
*/


/* 1: Universal assets */
/* ------------------------------------------- */

body {
	background-color: #FFF;
}

.container-fluid {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.divider {
	height: 50px;
}

.hidden {
	visibility: hidden;
}

#content {
	text-align: center;
	padding-top: 50px;
}

.columns {
  display: flex;
  flex-direction: row;
}

.rows {
  display: flex;
  flex-direction: column;
}

/* 2: Forms & buttons */
/* ------------------------------------------- */

.field {
	margin-bottom: 25px;
}

.invalid-field {
 	border-color: #CD3B2F !important;
 	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(229,170,166,0.6) !important;
}

.errors p{
	color: #CD3B2F;
}

.form-control {
	color: #487798;
}

.form-control:focus {
	border-color: #86B7C7;
 	box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(134,183,199,0.6);
}

label {
	color: #6C91AA;
}

.label {
	color: #6C91AA;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 5px;
}

.btn {
	transition: all 0.2s linear;
	border-radius: 3px;
}

.btn-back {
	margin-bottom: 30px;
}

.btn-symbol {
	padding: 2px 6px;
	span {
		color: #FFF;
	}
}

.btn-primary {
	background-color: #9AC3D0;
	color: #FFF;
	border: none;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #6C91AA;
}

.btn-primary:disabled {
	background-color: #AAA;
}

.btn-danger {
	background-color: #D0A79A;
	color: #FFF;
	border: none;
}

.btn-danger:hover, .btn-danger:focus, .danger {
	background-color: #C97155;
}

.btn-success, .success {
	background-color: #9AD0A7;
	color: #FFF;
	border: none;
}

.btn-success:hover, .btn-success:focus {
	background-color: #55C971;
}

/* 3: General typography & some effects */
/* ------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	color: #487798;
}

h3 {
	color: #487798;
}

a {
	transition: all 0.2s linear;
	color: #6C91AA;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: #86B7C7;
}

/* 4: Navigation bar */
/* ------------------------------------------- */

/* Admin Navigation bar OR Information depending on user type*/

.side-nav {
	width: 100%;
	background-color: #487798;

	p {
		color: #B9D6E0;
		margin-bottom: 0px;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: center;

		p {
			padding: 0 30px 0 15px;
			margin: 15px 15px;
			border-right: 1px solid #B9D6E0;
		}

		a {
			padding: 15px;
			color: #FFF;
		}

		a:hover, a:focus{
			text-shadow: 0px 0px 4px #FFF;
			background-color: transparent;
		}
	}

	.info {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.field {
			margin: 15px;
			display: flex;
			flex-direction: row;
			color: #FFF;
			font-size: 1.4em;
			span {
				margin-top: 5px;
			}
		}	
	}
	
}


#header {
	background-color: #6C91AA;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	nav {
		display: flex;
		flex-direction: row;
		justify-content: center;

		a {
			padding: 15px;
			color: #FFF;
		}

		a:hover, a:focus{
			text-shadow: 0px 0px 4px #FFF;
			background-color: transparent;
		}
	}
}

#fridge {
	padding: 50px 0 25px 0;
}

#brand {
	padding-bottom: 25px;
	text-align: center;
}

#brand h1 {
	color: #F1F2F3;
	font-size: 3.2em;
}

#brand h2 {
	color: #F1F2F3;
	font-size: 1.5em;
}

#search-bar {
	padding-bottom: 75px;
	width: 600px;
}

#search {
	border-radius: 3px 0 0 3px;
	border: none;
	float: left;
	width: 88%;
	height: 45px;
	font-size: 1.3em;
}

#search-submit {
	transition: all 0.2s linear;
	background-color: #FFF;
	border-radius: 0 3px 3px 0;
	color: #FFF;
	border: none;
	overflow: hidden;
	width: 12%;
	height: 45px;
	font-size: 1.3em;
}

.valid-search {
	background-color: #9AC3D0 !important;
}

/* 5: Homepage */
/* ------------------------------------------- */

#offers {
	padding-top: 50px;
}

#cart-announcement {
	padding-top: 100px;
}

#offers, #cart-announcement {
	text-align: center;
	padding-bottom: 100px;
	.offer-display {
		width: auto;
		border-radius: 3px;
		background-color: #6C91AA;
		justify-content: center;
		flex-wrap: wrap;
		padding: 50px 30px;

		.home-offer {
			margin: 0 20px;
			.offer-thumb-wrapper {
				background-color: #666;
				border-radius: 3px;
				overflow: hidden;
				img {
					position: relative;
					z-index: 1;
					transition: all 0.2s linear;
					width: 300px;
					height: 300px;
				}
			}
			.offer-info {
				position: relative;
				z-index: 2;
				margin-top: -300px;
				width: 300px;
				height: 300px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h3 {
					color: #FFF;
				}
			}
		}
	}
}

.image-hover {
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	opacity: 0.35;
}

//

#cart-announcement {
	background-color: #F1F2F3;
}

#cart-image {
	display: inline-block;
	padding-bottom: 50px;
}

/* 6: Static pages */
/* ------------------------------------------- */

.information {
	display: flex;
	justify-content: center;
}

.block {
	text-align: justify;
	text-justify: inter-word;
	padding: 30px;
	margin: 30px;
	max-width: 700px;
	background-color: #F1F2F3;
	border-radius: 3px;
	color: #365A72;
	.header {
		font-size: 1.4em;
	}
}

/* 7: Flashes */
/* ------------------------------------------- */

.alert {
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}


/* 8: Footer */
/* ------------------------------------------- */

footer {
	background-color: #6C91AA;
	width: 100%;
}

footer.main {
	padding: 50px 120px 100px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	.line {
		margin: 15px 25px 0 10px;
		border-left: 1px solid #567488;
		height: 125px;
	}

	.logo {
		margin-right: 30px;
		margin-top: 50px;
	}

	.info {
		color: #FFF;
		margin-top: 15px;
		margin-right: 15px;

		.field {
			margin-bottom: 15px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			p {
				margin-bottom: 0;
			}
			span {
				margin-top: 4px;
			}
		}
	}
}

footer.creator {
	text-align: right;
	color: #4B6576;
	padding-bottom: 5px;
	padding-right: 60px;
}


/* 9: Tooltips */
/* ------------------------------------------- */

.tooltip-text {
	position: absolute;
	z-index: 90;
	background-color: #15242D;
	border-radius: 3px;
	padding: 5px 8px;
	color: #FFF;
}