/* 
	La Nevera - Stylesheet contents
	-------------------------------------------------

	0) Used colors
	1) Universal assets
	2) General typography
	3) Forms
	4) Header / Navigation bar
	5) Homepage
	6) Flashes

*/



/* 0: Colors used in the application */
/* ------------------------------------------- */

/* 
	The main colors are 3 different shades of a dark blue:
	--------------------
	Darkest:  #365A72
	Darker:   #487798
	Normal:   #9AC3D0
	Lighter:  #B9D6E0

	In addition, I use this color instead of plain white and plain black:
	--------------------
	White: #F1F2F3
	Black: #0B1D2A

	Also, in case brighter blues are needed, I can use:
	--------------------
	Bright darker:   #6C91AA
	Bright normal:   #86B7C7
	Bright lighter:  #9FDAE2
*/


/* 1: Universal assets */
/* ------------------------------------------- */

body {
	background-color: #FFFFFF;
}

.container-fluid {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.divider {
	height: 50px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.hidden {
	visibility: hidden;
}

#content {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.columns {
  display: flex;
  flex-direction: row;
}

.rows {
  display: flex;
  flex-direction: column;
}

/* 2: General typography & some effects */
/* ------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	margin-top: 5px;
	margin-bottom: 5px;
}

h1 {
	color: #0B1D2A;
}

h3 {
	color: #487798;
}

a:link, a:visited {
	transition: all 0.2s linear;
	color: #6C91AA;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	color: #86B7C7;
}

/* 3: Forms & buttons */
/* ------------------------------------------- */

.field {
	margin-bottom: 25px;
}

.invalid-field {
 	border-color: #CD3B2F !important;
 	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(229,170,166,0.6) !important;
}

.errors p{
	color: #CD3B2F;
}

.form-control {
	color: #487798;
}

.form-control:focus {
	border-color: #86B7C7;
 	box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(134,183,199,0.6);
}

label {
	color: #6C91AA;
}

.label {
	color: #6C91AA;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 5px;
}

.btn {
	transition: all 0.2s linear;
	border-radius: 3px;
}

.btn-symbol {
	padding: 2px 6px;
	span {
		color: #FFF;
	}
}

.btn-primary {
	background-color: #9AC3D0;
	color: #FFF;
	border: none;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #6C91AA;
}

.btn-primary:disabled {
	background-color: #AAA;
}

.btn-danger {
	background-color: #E0B9B9;
	border: none;
}

.btn-danger:hover, .danger {
	background-color: #CD3B2F;
}

/* 4: Navigation bar */
/* ------------------------------------------- */

/* Normal Navigation bar */

.navbar {
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 0;
	border: none;
}

.navbar-nav li {
	overflow: hidden;
}

.navbar-nav li a {
	color: #F1F2F3;
	font-size: 1.1em;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
	color: #FFFFFF;
	text-shadow: 0px 0px 4px #F1F2F3;
	background-color: transparent;
	/*-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);*/
}

/* Home: the navigation bar is replaced by a bigger header */

#home-header{
	background-color: #6C91AA;
	padding-bottom: 75px;
	margin-bottom: 0;
	text-align: center;
	/* This actually centers divs with the display: inline-block property */
}

#header {
	background-color: #6C91AA;
	margin-bottom: 0;
}

#fridge {
	padding: 50px 0 25px 0;
	display: inline-block;
}

#brand {
	padding-bottom: 25px;
}

#brand h1 {
	color: #F1F2F3;
	font-size: 3.2em;
}

#brand h2 {
	color: #F1F2F3;
	font-size: 1.5em;
}

#search {
	border-radius: 3px 0 0 3px;
	border: none;
	float: left;
	width: 88%;
	height: 45px;
	font-size: 1.3em;
}

#search-submit {
	transition: all 0.2s linear;
	background-color: #FFF;
	border-radius: 0 3px 3px 0;
	color: #FFF;
	border: none;
	overflow: hidden;
	width: 12%;
	height: 45px;
	font-size: 1.3em;
}

.valid-search {
	background-color: #9AC3D0 !important;
}

/* 5: Homepage */
/* ------------------------------------------- */

#offers, #cart-announcement {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	.columns {
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 50px;
		.home-offer {
			margin: 0 10px;
			.offer-thumb-wrapper {
				background-color: #666;
				border-radius: 3px;
				overflow: hidden;
				img {
					position: relative;
					z-index: 1;
					transition: all 0.2s linear;
					width: 300px;
					height: 300px;
				}
			}
			.offer-info {
				position: relative;
				z-index: 2;
				margin-top: -300px;
				width: 300px;
				height: 300px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				h3 {
					color: #FFF;
				}
			}
		}
	}
}

.image-hover {
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	opacity: 0.35;
}

//

#cart-announcement {
	background-color: #F1F2F3;
}

#cart-image {
	display: inline-block;
	padding-bottom: 50px;
}

/* 6: Flashes */
/* ------------------------------------------- */

.alert {
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}