// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer-wrapper {
	background-color: #F1F2F3;
	border-radius: 3px;
	margin: 30px;
	padding: 20px;
	display: flex;
	flex-direction: row;

	.offer-thumb {
		width: 160px;
		height: 160px;
	}
}