// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Prices
.offer-prices {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 20px;

	.tag {
		font-size: 1.2em;
		padding: 10px;
		border-radius: 3px;
		margin: 0 10px 0 0;
	}

	.old-price {
		background-color: #487798;
		text-decoration: line-through;
		color: #FFF;
	}
	.new-price {
		background-color: #8BB454;
		color: #FFF;
	}
	.unstrike {
		text-decoration: none;
	}
}

// Offer Index ------------------------------------------------

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	.aligner {
		width: 505px;
		height: 0px;
	}
}

.offer-wrapper {
	background-color: #F1F2F3;
	width: 475px;
	border-radius: 3px;
	margin: 15px 15px;
	padding: 30px 20px;
	display: flex;
	flex-direction: row;

	// Thumb image
	.offer-thumb-wrapper {
		border-radius: 3px;
		overflow: hidden;

		.offer-thumb {
			width: 160px;
			height: 160px;
		}
	}

	// Product info
	.offer-info {
		display: flex;
		flex-direction: column;
		text-align: left;
		padding-left: 30px;

		h3 {
			margin: 0 0 10px;
		}

		// Admin options
		.offer-options {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			font-size: 1.5em;
			padding: 15px 0;
			border-top: 1px solid #DCDCDC;

			a {
				margin: 0 10px 0 0;
			}
		}
	}
}

// Offer create & update

#new-offer-btn {
	color: #FFF;
}

.rows {
	align-items: center;
}

.offer-form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F1F2F3;
	padding: 30px;
	margin: 30px 0;
	border-radius: 3px;

	.product-show {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 25px;
		padding: 30px 20px 30px 30px;
		border-radius: 3px;
		//border: 1px solid #CCC;
		//box-shadow: inset 0px 0px 6px #CCC;

		.thumb {
			overflow: hidden;
			border-radius: 3px;
			margin-right: 20px;
			width: 180px;
			height: 180px;

			img {
				width: 180px;
				height: 180px;
			}
		}

		.info {
			display: flex;
			flex-direction: column;
			align-items: center;

			h3 {
				margin-bottom: 20px;
			}

			.offer-prices {
				justify-content: center;
				margin-left: 10px;
			}
		}
	}

	form {
		button[type=submit] {
			margin-top: 20px;
		}
	}
}
