// Place all the styles related to the Photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo-preview {
	width: 200px;
	height: 200px;
	margin-top: 24px;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	cursor: pointer;
	background-color: #FFFFFF;
	background-size: cover;
	transition: all 0.2s linear;
	display: flex;
	flex-direction: column;
	justify-content: center;

	#photo-upload-info {
		color: #6C91AA;
	}
}

#photo-delete {
	color: #FFF;
	margin-top: 10px;
}

#photo_photo, #photo-submit {
	display: none;
}