// Place all the styles related to the Photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo-preview {
	width: 200px;
	height: 200px;
	background-color: #000;
	background-size: cover;
}

#photo_photo {
	display: none;
}