// Place all the styles related to the Photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo-preview {
	width: 200px;
	height: 200px;
	background-color: #FFFFFF;
	background-size: cover;
	border: 1px solid #CCC;
	border-radius: 3px;
	transition: all 0.2s linear;
	display: flex;
	flex-direction: column;
	justify-content: center;

	#photo-upload-info {
		color: #6C91AA;
	}

}

#photo_photo, #photo-submit {
	display: none;
}