<div class="category-tab" id="new-cat">
	<%= link_to "#", class: 'btn btn-primary btn-symbol', method: 'delete', remote: true do %>
		<span class="glyphicon glyphicon-minus"></span>
	<% end %>
	&nbsp;
	<%= link_to "#", "#" %>
</div>