<div id="new-category-form">
	<%= form_for @category do |f|%>
		<%= f.text_field :name, placeholder: 'Categoría...', class: 'form-control' %>
		<%= f.submit "Crear", class: 'btn btn-primary', id: 'create-category' %>
		<%= button_to "Cancelar", "#", class: 'btn btn-primary', id: 'new-category-cancel' %>
	<% end %>
</div>
