/*function parseForm($form){
	var data = {};

	$form.find("input[name]").each(function (index, node) {
		data[node.name] = node.value;
	});

	return data;
}*/

// First, slide up the new category tab and render the form:
$("#new-category-btn").parent().slideUp().after("<%= j render 'form' %>");

// Then, slide down the form:
$("#new_category").hide().slideDown( function(){

	var $form = $(this);
	$("#category_name").focus();

	/* Bind the cancel button: */
	$("#new-category-cancel").click( function(event){
		event.preventDefault();

		$("#new-category-btn").parent().slideDown();
		$(this).parent().parent().slideUp( function(){
			$(this).remove();
		});
	});
	

	/* And the create button, but with an ajax request:
	 * Note that this REPLACES the remote: true in the view. */
	$("#create-category").click( function(event){

		/* Don't forget to prevent default behaviour!!
		 * If I don't, it sends an html request. */
		event.preventDefault();

		$.ajax({
			type: 'POST',
			url: $form.attr("action"),
			data: $form.serialize(),
			dataType: 'json',

			success: function(data){

				var $add_button_tab = $(".category-tab").last();
				var $category_form_tab = $("#new_category").parent();

				/* Render the passed partial */
				$add_button_tab.before(data.partial);

				$add_button_tab.slideDown();
				$category_form_tab.slideUp( function(){
					$(this).remove();
				});

				var $new_category_tab = $("#cat"+data.id);
				$new_category_tab.hide().slideDown();
				
			},

			error: function(data){
				handleErrors('category', data.responseJSON);
				/* Since theres only one field, show error messages
				 * and display red border. */

				/*$("#category-name-errors").html("<p>"+data.responseJSON[0]+"</p>")
										  .hide()
										  .slideDown();

				$("#category_name").addClass("invalid-field").on("keydown", function(){
					$("#category-name-errors").slideUp();
					$(this).removeClass("invalid-field").off("keydown");
				});*/
			}
		});

	});

});