.col-xs-4.col-xs-offset-4
  #new-product-form

    / First step: Basic information.
    = render 'first_step'

    / = f.button :submit, class: 'btn btn-primary', id: 'create-product' do
    /  %span.glyphicon.glyphicon-ok
