#new-product.col-xs-12
  / :category_id is passed as parameter in case I am in a category already.
  = link_to "Nuevo producto", new_product_path(category_id: @category_id), class: 'btn btn-primary', remote: true