<div class="col-md-3" id="new-product">
	<div class="product">
		<!-- :category_id is passed as parameter in case I am in a category already. -->
		<%= link_to "Nuevo producto", new_product_path(category_id: @category_id), remote: true %>
	</div>
</div>