.col-lg-3.clearfix.product-display{:id => "prod#{product.id}"}
	.product-wrapper
		.image-wrapper
			/ = product.photo.photo.url()
			/ = image_tag product.photo.photo.url()
		.product
			%p.title-display= product.title
			%p.category-display
				Categoría: #{product.category.name}
		.delete-button
			- if current_user_admin?
				= link_to product, method: 'delete', data: { confirm: 'Are you sure?' } do
					%span.glyphicon.glyphicon-remove