<div class="col-lg-3" id="prod<%= product.id %>">
	<div class="product">
		<p class="title-display"><%= product.title %></p>
		<p class="category-display">Categoría: <%= @category_names["name"+product.category_id.to_s] %></p>
	</div>
</div>