/* Check if there are any errors */

if(<%= @product.errors.any? %>){
	var key;
	var value;

	<% @product.errors.each do |key, value| %>
		key = "<%= key %>";
		value = "<%= value %>";
		if (key != "photo_id"){
			handleError('product', key, value);
		}
		else {
			$("#product-photo_id-errors").html("<p>"+value+"</p>")
									  .hide()
									  .slideDown();

			$("#photo-preview").addClass("invalid-field").on("click", function(){
				$("#product-photo_id-errors").slideUp( function(){ $(this).remove(); });
				$(this).removeClass("invalid-field");
				$(this).off("change");
			});

		}
	<% end %>

	// Buttons were disabled on "create" click; I need to enable them.
	$("#create-product").removeAttr('disabled');
	$("#new-product-cancel").removeAttr('disabled');
}

/* If there aren't, render the new tab */

else {
	// With turbolinks, you can do a lot of crazy things. For instance:
	Turbolinks.visit("<%= j products_path %>");
}