%footer.main
	.logo
		= image_tag 'logo.png'
	.info
		.field
			%p La Nevera, Congelados
		.field
			%p 21 de Setiembre 2633 esq. Scoseria
		.field
			%span.glyphicon.glyphicon-earphone
			&nbsp; &nbsp;
			%p 2710 5858 | 2716 5495
		.field
			%p lanevera@outlook.es

	.line

	.info
		.field
			%p Horario:
		.field
			%p Lunes a sábado de 10 a 23 hs
		.field
			%p Domingos de 10 a 14 hs

%footer.creator
	%p 
		%span.glyphicon.glyphicon-copyright-mark
		Franco Mangone 2015